*{
  background-color: rgba(61, 105, 88, 0.863);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.news_app{
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(245, 246, 241);
}


.header h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
}

.header h2{
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 5px;
  color: rgb(204, 209, 193);
}

.tool_bar{
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.tool_bar p{
  font-size: 12px;
  position: absolute;
  top: 100%;
  margin-left: -50px;
  margin-right: -50px;
  }

.tool_bar input{
  display: flex;
  background-color:rgba(231, 225, 197, 0.993) ;
  box-shadow: 0px 2px 2px rgba(231, 225, 197, 0.993);
  margin: 10px 10px;
  padding: 10px 2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
 }

.tool_bar #langTitle{
  background-color: rgba(231, 225, 197, 0.993);
  box-shadow: 0px 2px 2px rgba(231, 225, 197, 0.993);
  font-size: 14px;
  font-weight: bold;
  margin: 10px 10px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: 0;
  transition: ease  background-color 250ms;
  &:hover {
      background-color: white;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(61, 105, 88, 0.863);
  overflow: auto;
}

.dropdown-content Checkbox{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
}

.profileForm input{
  border-radius: 10px;
  border: 1px solid rgb(204, 209, 193);
  outline: none;
}
.profileForm button{
  border-radius: 5px;
  border: 1px solid rgb(204, 209, 193);
  outline: none;
  background-color: rgb(204, 209, 193);
  color: rgb(61, 105, 88);
  font-weight: bold;
  cursor: pointer;
  margin-left: 39%;
}


